.timka{
	position: absolute;
	top: -10px;
	left: 50%;
	width: 1px;
	height: 1px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid black;

}


/*Almost taken from twitter dropdown thing*/

.dropdown-caret {
	position: absolute;
	top: -10px;
	left: 12px;
	width: 18px;
	height: 10px;
	float: left;
	overflow: hidden;
}

.dropdown-caret .caret-outer, .dropdown-caret .caret-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin-left: -1px;
}

.dropdown-caret .caret-outer {
	border-bottom: 10px solid rgba(0, 0, 0, 0.1);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: auto;
	left: 0px;
	top: 0px;
	width: auto;
}

.dropdown-caret .caret-inner {
    top: 1px;
    left: 1px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid rgba(255, 255, 255, 0.98);
}


.rk-dropdown-toolbar .dropdown-caret {
	left: auto;
	right: 30px;
}

.rk-dropdown {
	display: none;
	right: 0px;
	position: absolute;
}

.rk-dropdown-menu {
	background-color: white;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
	height: 100px;
	width: 300px;
}

.rk-dropdown-toolbar {
	top: 64px;
}

.show-menu {
	display: block;
}
