
.stream-container {
	padding-right: 300px;
}

.stream {
	min-width: 500px;
	width: 500px;
	/*border-left: 1px solid rgb(226, 226, 226);*/
	margin-left: 150px;
	# margin-right: 300px
}

.main-right-pane {
	width: 290px;
	height: 500px;
	padding-top;  
	position: fixed;
}

.stream-end {
	width: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	height: 70px;
	background-color: white;
	text-align: center;
}

.stream-fetch-indicator {
	margin-top: 15px;
	margin-bottom: 15px;
}
