
.dialog-post-wrapper {
	width: 500px;
	padding: 0px;
}

.dialog-post-wrapper .stream-post{
	margin: 0px;
}

.dialog-review-wrapper  {
	padding: 0px;
}

.dialog-review-wrapper  .review-wrapper {
	margin: 0px;
}
