
.toolbar-messages-tag {
	width: 400px;
	height: 200px;

	font-size: 25px;
	font-weight: 300;

	text-align: center;

	color: #909090;
}

.toolbar-requests-tag {

	width: 400px;
	font-size: 15px;
	font-weight: 300;
	color: #909090;
}

.friend-request {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px;
}

.request-decision-wrapper {
	/*margin-right: 15px;*/
}

.no-requests {
	padding: 10px;
	text-align: center;
}