
.stream-post {
	margin-top: 15px;
	margin-left: 15px;
	padding: 10px 15px;
	background-color: white;
}

.post-header {
	height: 60px;

}

.post-header-info {
	height: 50px;
	padding-left: 10px;
	position: absolute;
}

.post-avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.post-avatar img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-webkit-animation: expandOut 0.4s;
	animation: expandOut 0.4s;
}

.post-author-name {
}

.post-author-name a {
	font-weight: 400;
}

.post-time {

}

.post-content {
	font-weight: 300;
	font-family: "Source Sans Pro", sans-serif;

	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.post-feedback {
	margin-top: 10px;
}

.previous-comments {
	font-size: 10px;
	margin-left: 5px;
	margin-top:10px;
	margin-bottom:10px;
}