
html {
	min-width: 960px;
}

body {
	min-width: 960px;
	font-weight: 300;
}

.global-container {
	min-height: 100%;
	height: auto;
	width: 100%;
	min-width: 960px;
	position: absolute;
	background-color: #e5e5e5;
	padding-left: 10px;
	padding-right: 10px;
}


.logout {
	font-size: 15px;
}


.aa {
	min-width: 755px;
}

.avatar {
	border-radius: 50%	;
}




.stream {
	min-width: 500px;
	width: 500px;
	/*border-left: 1px solid rgb(226, 226, 226);*/
	margin-left: 150px;
}

.main-right-pane {
	width: 310px;
	height: 500px;
	padding-top:  
}

.main-right-pane-info {
	margin-top: 15px;
	margin-left: 15px;
	background-color: white;
	height: 200px;

}




.notification-icon-wrapper {
	opacity: 0.8;
}

.notification-icon-wrapper md-icon{
	margin: 0px;
}

.notification-icon-wrapper:hover {
	opacity: 1;
}

.notification-type {
	font-size: 12px;
}

.noti-cntr {
	position: relative;
}

.noti-boundry {
	padding: 0px 5px 0px 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 64px;
	position: relative;
	cursor: pointer;
}

.timka{
	position: absolute;
	top: -10px;
	left: 50%;
	width: 1px;
	height: 1px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid black;

}

.dropdown-caret {
	position: absolute;
	top: -10px;
	left: 12px;
	width: 18px;
	height: 10px;
	float: left;
	overflow: hidden;
}

.dropdown-caret .caret-outer, .dropdown-caret .caret-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin-left: -1px;
}

.dropdown-caret .caret-outer {
	border-bottom: 10px solid rgba(0, 0, 0, 0.1);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: auto;
	left: 0px;
	top: 0px;
	width: auto;
}

.dropdown-caret .caret-inner {
    top: 1px;
    left: 1px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid rgba(255, 255, 255, 0.98);
}


.rk-dropdown .dropdown-caret {
	left: auto;
	right: 30px;
}

.rk-dropdown {
	display: none;
	right: 0px;
	position: absolute;
}

.rk-dropdown-menu {
	background-color: white;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
	height: 100px;
	width: 300px;
}

.rk-dropdown-toolbar {
	top: 64px;
}

.show-menu {
	display: block;
}

/*.noti-boundry:hover {
	border-bottom: 1px solid #f1f1f1;
}
*/.notification-count {
	min-width: 15px;
	height: 15px;
	background-color: white;
	position: absolute;
	color: #0f9d58;
	top: -5px;
	left: 15px;
	z-index: 10;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 9px;
	line-height: 1;
	border-radius: 2px;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
	padding: 1px;
}

.noti-icon {
	opacity: 0.7;
}

.noti-icon-focused {
	opacity: 1;
}


.left-pane {
	min-width: 150px;
	position: absolute;
}

.left-pane-inner-wrapper {
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.left-pane-avatar-wrapper {
	min-width: 70px;
	min-height: 70px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.left-pane-avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;

	-webkit-animation: expandOut 0.4s;
	animation: expandOut 0.4s;
}

.left-pane-name {
	padding: 5px;
	margin: 5px;
}

.left-pane-reputation {
	width: 100px;
}

.left-pane-item {
	padding: 5px;
	padding-bottom: 0px;
	margin: 5px;
	margin-top: 30px;
}

.left-pane-separator {
	width: 100%;
	min-height: 2px;
	height: 2px;
	border-top: 1px solid #CCCCCC;
	margin-top: 30px;
	margin-bottom: 20px;

}

.right-pane {
	border-left: 1px solid rgb(226, 226, 226);
	min-height: 100%;
	position: absolute;
}

.rp-suggestions {
	margin-top: 15px;
	margin-left: 15px;
	padding-bottom: 15px;
	background-color: white;

}

.friend-suggestion-wrapper {
	width: 200px;
	height: 60px;
	margin-top: 15px;
	margin-left: 15px;
	background-color: white;
}

.friend-suggestion-wrapper ._left {
	width: 60px;
	min-width: 60px;
}

.friend-suggestion-wrapper ._right {
	width: 120px;
	min-width: 120px;
	padding-left:15px;
}


.friend-suggestion-avatar {
	width: 60px;
	min-width: 60px;
	height: 60px;
	min-height: 60px;
	background-color: #0f9d58;
	border-radius: 50%;
}

.friend-suggestion-avatar img{
	width: 60px;
	min-width: 60px;
	height: 60px;
	min-height: 60px;
	border-radius: 50%;
}

.friend-suggestion-rating {
	width: 100%;
	padding-top: 5px;
}

.friend-suggestion-mutual {
	font-size: 10px; 
	padding-top: 9px;
}

.friend-suggestion-name {
	font-weight: 400;
	height: 20px;
}

.friend-suggestion-add {
}

.friend-suggestion {
	width: 100px;
	height: 50px;
	background-color: #0f9d58;
}



.new-post {
	min-height: 118px;
	margin-left: 10px;
	margin-top: 15px;
	background-color: white;
}

.stream-post {
	margin-top: 15px;
	margin-left: 10px;
	padding: 10px;
	background-color: white;
}

.post-header {
	height: 60px;

}

.post-header-info {
	height: 60px;
	padding-left: 10px;
	position: absolute;
}

.post-avatar {
	height: 50px;
	width: 50px;
	margin: 5px;
	border-radius: 50%;
}

.post-avatar img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-webkit-animation: expandOut 0.4s;
	animation: expandOut 0.4s;
}

.post-author-name {
}

a {
	text-decoration: none;
	color: #0f9d58;

	-webkit-animation: fadeIn 2s;
	animation: fadeIn 2s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes expandOut {
	from {
		height: 0px;
		width: 0px;
		margin: 50%;
	}

	to {
		height: 100%;
		width: 100%;
		margin: 0%;
	}
}

@-webkit-keyframes expandOut {
	from {
		height: 0px;
		width: 0px;
		margin: 50%;
	}

	to {
		height: 100%;
		width: 100%;
		margin: 0%;
	}
}


.post-author-name a {
	font-weight: bold;
}

.post-time {

}

.post-content {
	margin-left: 70px;
	font-weight: 300;

	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.post-feedback {
	margin-top: 10px;
}

.comments {
	background-color: rgb(245,245,245);

}


.comment-wrapper {
	font-size: 12px;
	font-weight: 300;
	padding:5px;
	border-radius: 2px;
}

.comment-inner-wrapper {
	padding-left: 10px;
}

.new-comment {
	font-weight: 300;
}

input[type = "text"] {
	font-weight: 300;
}
.comment {
}

.comment-avatar {
	height: 30px;
	width: 30px;
	min-width: 30px	;
	min-height: 30px	;
	border-radius: 50%;
}

.toolbar {
	min-width: 960px;
	width: 100%;
	height: 64px;
	background-color: #0f9d58!important;
	color: #f1f1f1!important;
	position: absolute;
	z-index: 1000;
}

.toolbar-logo {
	min-width: 50px;
}

.toolbar-notifications {
	width: 325px;
	min-width: 325px;
}

.toolbar-settings {
}

.toolbar-adjust-right {
	height: 1px;
	padding: 0px;
	margin: 0px;
}



.content-wrapper {
	margin-top: 64px;
}

.toolbar-avatar {
	height: 25px;
	width: 25px;
	margin: 5px;
	min-height: 25px;
	min-width: 25px	;
	border-radius: 50%;
}

.toolbar-search {
	font-size: 15px;
}


.toolbar-avatar img {
	height: 25px;
	width: 25px;
	border-radius: 50%;
}


.toolbar-nav {
	min-width: 100px;
	width: 100px;
}

.toolbar-nav .home {
	margin: 5px;
	font-size: 15px;
}

.main-area {
	min-width: 785px;
}


.profile {
	min-width: 785px;
}

.profile-header-wrapper {
	height: 250px;
}

.profile-avatar-wrapper {
	min-width: 300px;
	width: 300px;
}

.profile-avatar-inner-wrapper {
	height: 170px;
	width: 170px;
	min-height: 170px;
	min-width: 170px;
	border-radius: 50%;
	margin: 10px;

}

.profile-avatar-inner-wrapper img {
	-webkit-animation: expandOut 1s;
	animation: expandOut 1s;
	
}

.profile-avatar {
	height: 170px;
	width: 170px;
	border-radius: 50%;
}

.profile-header-name {
	text-align: center;
	color: #0f9d58;
	font-weight: 300;
	font-size: 50px;
}

.profile-reputation {
	width: 200px;
}

.profile-left-pane {
	width: 205px;
	min-width: 205px;
}

.profile-inner-content-wrapper {
	border-left: 1px solid #D8D8D8;
	width: 580px;
}

.profile-left-pane-menu {
}

.profile-left-pane-menu-item {
	min-height: 50px;
	height: 50px;
	width: inherit;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	border-right: 0px solid #0f9d58;
	-webkit-transition: border-right 0.2s ease;
	transition: border-right 0.2s ease;


}

.profile-left-pane-menu-item:hover {
	border-right: 4px solid #0f9d58;
}


.profile-content-header {
	height: 50px;
	background: #0f9d58;
	-webkit-transition: height 1s ease;
	transition: height 1s ease;
}

.profile-content-wrapper {
	min-width: 785px;
}


.profile-content-header-item {
	padding-left: 25px;
	padding-right: 15px;
	border-bottom: 0px solid white;
	-webkit-transition: border-bottom 0.2s ease;
	transition: border-bottom 0.2s ease;
}

.profile-content-header-item:hover {
	border-bottom: 4px solid #e1e1e1;

}

.profile-content-header-item a {
	color: white;
	font-weight: 300;
	font-size: 20px;
}


.profile-timeline-header {
	height: 50px;
	background: #0f9d58;
}


.profile-timeline-header-item {
	padding-left: 25px;
	padding-right: 15px;
	border-bottom: 0px solid white;
	-webkit-transition: border-bottom 0.2s ease;
	transition: border-bottom 0.2s ease;
}

.profile-timeline-header-item:hover {
	border-bottom: 4px solid #e1e1e1;

}

.profile-timeline-header-item a {
	color: white;
	font-weight: 300;
	font-size: 20px;
}

.feedback-wrapper {
	height: 70px;
	padding: 10px;
	margin: 10px;
	margin-top: 20px;
}

.feedback-rating {
	width: 100px;
	font-size: 20px;
}

.feedbacks {
	padding: 50px;
}

.my-feedback-wrapper {
	margin: 50px;
	margin-top: 0px;
	padding: 10px;
}

.my-feedback-wrapper h3 {
	margin: 0px;
	margin-top: 20px;
}

.my-feedback-wrapper p {
	margin: 0px;
	margin-top: 20px;
	font-size: 12px;
}
.my-feedback-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #f2f2f2;
}

.my-feedback {
	width: 100%;
	padding: 10px;
	background: #f1f1f1;
	border-radius: 10px;
	margin: 10px;
	margin-top: 20px;



}

.my-feedback ._username {
	font-size: 30px;
}


.vertical-separator {
	min-height: 2px;
	border-bottom: 1px solid #0f9d58;
	margin: 10px;
	width: 100%;
}

.my-feedback-inner-wrapper{
	width: inherit;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.my-feedback-question {
	text-align: center;
}

.my-feedback-answer {
	width: 150px;
}

.my-feedback-skip {
	width: inherit;
	font-size: 12px;
}


.reviews-wrapper {
	padding: 10px;
}


.reviews {
	padding-top: 20px;
	position: relative;
	padding-bottom: 100px;
}


.my-review-wrapper {
	margin: 90px;
	margin-top: 40px;
	padding: 10px;
}

.my-review {
	margin: 5px;
	padding: 5px;
}

.my-review-inner-wrapper {
	padding: 10px;
	background-color: #f5f5f5;
	width: 250px;
	margin: 10px;
}

.my-review textarea {
	font-weight: 300;
	height: 60px;
	resize: none;
}

.review-wrapper {
	font-size: 20px;
	background: #f5f5f5;
	width: 250px;
	min-width: 250px;
	padding: 10px;
	margin-top: 30px;
}

.review-inner-header {
	background: #0f9d58;
	min-height: 25px;
}

.review {
	margin: 5px;
}

.review-date {
	margin: 5px;
	font-size: 10px;
}

.review-footer-separator {
	min-height: 2px;
	border-bottom: 1px solid #0f9d58;
	margin: 10px;
}

.review-footer {
	min-height: 25px;
}

.nicks {
	padding: 50px;
}

.nick-wrapper {
	
}

.nick-name {
	font-size: 50px;
	
}

.nick-count {
	
}

.my-nick-wrapper {
	margin: 50px;
	margin-top: 0px;

	padding: 20px;
}


.my-nick-name {
	font-size: 50px;
	color: #0f9d58;
}

.my-nick-suggestion-menu {
	width: 100%;
	position: absolute;
	background-color: white;
	padding: 5px;

}

.my-nick-suggestion-menu-item {
	margin-top: 5px;
}











