
html {
	min-width: 960px;
}

body {
	min-width: 960px;
	font-weight: 300;
}

.global-container {
	margin-top: 50px;
	min-height: 100%;
	height: auto;
	width: 100%;
	min-width: 960px;
	position: absolute;
	background-color: #e5e5e5;
	padding-left: 10px;
	padding-right: 10px;
}


.logout {
	font-size: 15px;
}


.avatar {
	border-radius: 50%	;
}



.notification-icon-wrapper {
	opacity: 0.8;
}

.notification-icon-wrapper md-icon{
	margin: 0px;
}

.notification-icon-wrapper:hover {
	opacity: 1;
}

.notification-type {
	font-size: 12px;
}

.noti-cntr {
	position: relative;
}

.noti-boundry {
	padding: 0px 5px 0px 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	position: relative;
	cursor: pointer;
}


/*.noti-boundry:hover {
	border-bottom: 1px solid #f1f1f1;
}
*/.notification-count {
	min-width: 15px;
	height: 15px;
	background-color: white;
	position: absolute;
	color: #0f9d58;
	top: -5px;
	left: 15px;
	z-index: 10;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 9px;
	line-height: 1;
	border-radius: 2px;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
	padding: 1px;
}

.noti-icon {
	opacity: 0.7;
}

.noti-icon-focused {
	opacity: 1;
}


.left-pane {
	min-width: 150px;
	position: absolute;
}

.left-pane-inner-wrapper {
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.left-pane-avatar-wrapper {
	min-width: 70px;
	min-height: 70px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.left-pane-avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;

	-webkit-animation: expandOut 0.4s;
	animation: expandOut 0.4s;
}

.left-pane-name {
	padding: 5px;
	margin: 5px;
}

.left-pane-reputation {
	width: 100px;
}

.left-pane-item {
	padding: 5px;
	padding-bottom: 0px;
	margin: 5px;
	margin-top: 30px;
}

.left-pane-separator {
	width: 100%;
	min-height: 2px;
	height: 2px;
	border-top: 1px solid #CCCCCC;
	margin-top: 30px;
	margin-bottom: 20px;

}

.right-pane {
	border-left: 1px solid rgb(226, 226, 226);
	min-height: 100%;
	position: absolute;
}





.stream-post {
	margin-top: 15px;
	margin-left: 10px;
	padding: 10px;
	background-color: white;
}

.post-header {
	height: 60px;

}

.post-header-info {
	height: 60px;
	padding-left: 10px;
	position: absolute;
}

.post-avatar {
	height: 50px;
	width: 50px;
	margin: 5px;
	border-radius: 50%;
}

.post-avatar img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-webkit-animation: expandOut 0.4s;
	animation: expandOut 0.4s;
}

.post-author-name {
}

a {
	text-decoration: none;
	color: #0f9d58;

	-webkit-animation: fadeIn 2s;
	animation: fadeIn 2s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes expandOut {
	from {
		height: 0px;
		width: 0px;
		margin: 50%;
	}

	to {
		height: 100%;
		width: 100%;
		margin: 0%;
	}
}

@-webkit-keyframes expandOut {
	from {
		height: 0px;
		width: 0px;
		margin: 50%;
	}

	to {
		height: 100%;
		width: 100%;
		margin: 0%;
	}
}


.post-author-name a {
	font-weight: bold;
}

.post-time {

}

.post-content {
	margin-left: 70px;
	font-weight: 300;

	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.post-feedback {
	margin-top: 10px;
}

input[type = "text"] {
	font-weight: 300;
}


.main-area {
	min-width: 785px;
}














